.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.containerItem {
  width: 100%;
  background: #f6f6f6;
  padding: 32px 80px;
  box-sizing: border-box;
  height: 100%;
}
